body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
p{
  line-height: 2;
}

.top-container{
  margin: 0 ;
  background-color: #EAF6F6;
  padding-top: 90px;
  position: relative;
}
.middle-container{
  margin: 100px 0;
}
.intro{
  width: 30%;
  margin:auto;
}
.massage{
  width: 40%;
  margin: 40px auto 60px;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;

}

h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;


}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 20px;
}
h3{
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;

}

.webdev-img{
  float: left;
  margin-right: 30px;
}
.appdev-img{
  float: right;
  margin-left: 30px;
}
.digitalmarketing-img{
  float: left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family:  'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  line-height: 3;
  padding: 30px 0 30px 0;
  background-color: #66BFBF;
  margin-top: 30px;
}
.copyright{
  color: #EAF6F6;
  font-size: 50%;
}
a{
  color: #11999E;
  margin: 30px;
  font-weight: normal;
  text-decoration: none;

}
a:hover {
  color: white;
}
hr{
  border-style: dotted none none;
  width: 5%;
  border-color: #79A3B1;
  border-width: 10px;
}
.programmer{
  padding: 0;
}
